<html>
  <head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type = "text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type = "text/javascript"  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
    
    <!-- Minus Button-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

 <div class = "row">

  <!-- Find product Form -->
  <div class="column">
    <div class="card">
      <div class="card-body">
        <form action="#" method="post">
          <h1>Find Product:</h1>
          <p>
            <label for="Product Name">Find product</label>
            <input type="text" name="findnm" />
            <small class="form-text text-muted">Enter the product to search</small>
          </p>
          <p>
            <label for="Cost Price">Cost Price</label>
          </p>
          <p>
            <label for="Sales Price"> Previous Sales Price</label>
          </p>
          <button class="btn btn-success mt-2" name = "submit" value = "find">Find Item</button>
        </form>
      </div>
    </div>
  </div>


 <!-- Add a new product Form -->
  <div class="column">
    <div class="card">
      <div class="card-body">
        <form action="#" method="post">
          <h1>Add Product:</h1>
          <p>
            <label for="Product Name">Add product</label>
            <input type="text" name="nm" />
            <small class="form-text text-muted">Enter the product to add</small>
          </p>
          <p>
            <label for="Cost Price">Cost Price</label>
            <input type="number" step="0.01" name="cp" />
            <small class="form-text text-muted">How much does it cost you?</small>
          </p>
          <p>
            <label for="Sales Price">Sales Price</label>
            <input type="number" step="0.01" name="sp" />
            <small class="form-text text-muted">How much do you want to sell it for?</small>
          </p>
          <p>
            <label for="Quantity"> Quantity </label>
            <input type="number" step="1" name="quantity" />
            <small class="form-text text-muted">How many items are you selling?</small>
          </p>
          <p>
            <label for="Notes"> Notes (Optional) </label>
            <input type="text"  name="notes" />
            <small class="form-text text-muted">Did seller write the wrong product name?</small>
          </p>
          <button class="btn btn-success mt-2" name = "submit" value = "add" >ADD ITEM</button>
        </form>
      </div>
    </div>
  </div>

 </div>

 <!-- Products added to List Table -->

 <div class="card">
  <table class = "table" style="width:80%">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Cost Price</th>
        <th scope="col">Sales Price</th>
        <th scope="col">Quantity</th>
         <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      {% if itemsList != None %}
        {% for i in itemsList %}
          <tr>
            <td>{{i.name}}</td>
            <td>{{i.costPrice}}</td>
            <td>{{i.previousSalePrice[-1]}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.notes}}</td>
            <td>
              <form action="#" method="post">
                <input type="hidden" value="{{i.key}}" name="itemDelete">
                <button class="btn btn-info btn-lg" name = "submit" value = "remove">
                  <span class="glyphicon glyphicon-minus-sign"></span> 
                </a>
              </form>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
    

  </table>
  <a href="/return-files/" target="blank">
    <button class="btn btn-primary btn-lg btn-outline-success" style = "float: right;">Submit</button>
  </a>

 </div>

</html>
