<div class="card flex_child" >
    <div class="card-body">
        <form action="#" method="post">
            <h1>Find Product:</h1>
            <p>
            <label for="Product Name">Find product</label>
            <input type="text" name="findnm" />
            <small class="form-text text-muted">Enter the product to search</small>
            </p>
            <p>
            <label for="Cost Price">Cost Price</label>
            </p>
            <p>
            <label for="Sales Price"> Previous Sales Price</label>
            </p>
            <button class="btn btn-success mt-2" name = "submit" value = "find">Find Item</button>
        </form>
    </div>
</div>