{% extends 'base.html' %}
{% block title%} Make Invoice {%endblock%}

{% block content%}
<div class = "main_container">

    {%include "toolbar.html" %}
    
    {%include "message_flashing.html" %}
    
    {% if isClientSelected == False %}
      <div class = "row justify-content-center align-items-center"  >
        {%include "set_client.html" %}
      </div>
    {% endif %}

    {% if isClientSelected == True %}
      <div class = "row_container_child">
          <div >
            {%include "find_products.html" %}
          </div>
          <!-- Add a new product Form -->
          <div >
            {%include "add_products.html" %}
          </div>
      </div>
      <div class = "row">
        {%include "list_of_items.html" %}
      </div>
    {% endif %}



</div> 


{%endblock%} <!-- Full block ends-->