<!-- Set Client Name -->
<div class="column">
    <div class="card">
        <div class="card-body">
            <form action="#" method="post">
                <h1>Client:</h1>
                <p>
                <label for="Product Name">Set Client Name :  </label>
                <input type="text" name="cname" />
                <small class="form-text text-muted"> Use less than 40 characters. Please use only alphabetical characters.  </small>
                </p>
                <button class="btn btn-success mt-2" name = "submit" value = "updateClientName">Choose this client</button>
            </form>
        </div>
    </div>
</div>