
<!-- Set Client Name -->

	
        <form class="login100-form validate-form" action="#" method="post">
            <div class="wrap-input100 validate-input">	
                <label for="Client Name">Set Client Name :  </label>
                <input class="input100" type="text" name="cname" />
                <small class="form-text text-muted"> Use less than 40 characters. Please use only alphabetical characters.  </small>
			</div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn" name = "submit" value = "updateClientName">
                    Choose this client
                </button>
            </div>
        </form>

