<!-- Set Header -->

<form class="login100-form validate-form" action="#" method="post">
    <div class="wrap-input100 validate-input">	
        <label for="Client Name">Company Name :  </label>
        <input type="text" name="companyName" />
    </div>
    <div class="wrap-input100 validate-input">	
        <label for="Client Name">Company Address :  </label>
        <input type="text" name="companyAddress" />
        
    </div>
    <div class="wrap-input100 validate-input">	
        <label for="Client Name">Tel :  </label>
        <input type="text" name="companyTel" />
        
    </div>
    <div class="wrap-input100 validate-input">	
        <label for="Client Name">Fax :  </label>
        <input type="text" name="companyFax" />
        
    </div>
    <div class="wrap-input100 validate-input">	
        <label for="Client Name">E-mail :  </label>
        <input type="text" name="companyEmail" />
        
    </div>
    <div class="wrap-input100 validate-input">	
        <label for="Client Name">Note :  </label>
        <input type="text" name="companyNote" />
        
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" name = "submit" value = "updateHeader">
            Update Header
        </button>
    </div>
</form>

