.tablet {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    padding: 2%;
    margin: 2%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 5px;
    flex: 1 100%;
    left: 0;
    right: 0;
    margin: 25px;
}

.row_container_child  {
    display: flex;
    flex-direction: row;
    
    width: 100%;
}

.main_container container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
}
.product_container{
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.242);
    bottom: 0px;
    margin: 25px; 
   
}


/* a{
    font-size: larger;
} */