 <h1 style = "margin-left: 45px ;"> Add New Product:</h1>
 <div class = "product_container">
        <form action="#" method="post">
           
            <p>
            <label for="Product Name">Name</label>
            <input type="text" name="nm" />
            <small class="form-text text-muted">Enter the product to add</small>
            </p>
            <p>
            <label for="Cost Price">Cost Price</label>
            <input type="number" step="0.01" name="cp" />
            <small class="form-text text-muted">How much does it cost you?</small>
            </p>
            <p>
            <label for="Sales Price">Sales Price</label>
            <input type="number" step="0.01" name="sp" />
            <small class="form-text text-muted">How much do you want to sell it for?</small>
            </p>
            <p>
            <label for="Quantity"> Quantity </label>
            <input type="number" step="1" name="quantity" />
            <small class="form-text text-muted">How many items are you selling?</small>
            </p>
            <p>
            <label for="Notes"> Notes (Optional) </label>
            <input type="text"  name="notes" />
            <small class="form-text text-muted">Did seller write the wrong product name?</small>
            </p>
            <button class="btn btn-success mt-2" name = "submit" value = "add" >ADD ITEM</button>
        </form>
</div>