 
 
 <h1 style = "margin-left: 45px ;"> Found Items: </h1>
 <div class="card" style = "padding: 50px;">
  <table class = "table" >
      <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Cost Price</th>
              <th scope="col">Sales Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Notes</th>
          </tr>
      </thead>

      <tbody>
          {% if foundData  %}
              {% for i in foundData %}
                  <tr>
                    <form action="#" method="post">
                      <td>
                        <input type="text" name="newName" value = "{{i.name}}" />
                      </td>

                      <td>
                        <input type="number" step="0.01" name="newCostPrice" value = {{i.costPrice}} />
                      </td>

                      <td>
                        <input type="number" step="0.01" name="addNewSalesPrice" value = {{i.previousSalePrice[-1]}}  />
                      </td>

                      <td>
                        <input type="number" step="0.01" name="newQuantity" value = {{i.quantity}} onfocus="this.value=''"/>
                      </td>

                      <td>
                        <a>
                          Previous Sales Prices Were: {{i.previousSalePrice}}  Old Note : {{i.notes}}
                        </a>

                      </td>

                      <td>
                        <input type="hidden" value="{{i.key}}" name="itemUpdateKey">
                        <button class="btn btn-info btn-lg" name = "submit" value = "add_update">
                            ADD/UPDATE
                        </button>
                        </a>
                      </td>
                    </form>
                  </tr>
              {% endfor %}
          {% else %}
            <tr>
                <td>No Items found!</td>
            </tr>
          {% endif %}

      </tbody>
  </table>
</div> <!--card-->