{% extends 'base.html' %}
{% block title%} Log In {%endblock%}

{% block content%}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src = "/static/images/file_icon.png"  alt="IMG">
			</div>

			<form class="login100-form validate-form" action="" method="post">
				
				<span class="login100-form-title">
					Login
				</span>

				<div class="wrap-input100 validate-input">
						
					<input class="input100" type="text"placeholder="Username" name="username" value="{{request.form.username }}">

						<span class="focus-input100">
						</span>

						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>

				</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" placeholder="Password" name="password" 
							value="{{request.form.password }}">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" text="Login">
							Login
						</button>
					</div>
			
				{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }}
				{% endif %}

			</form>
		</div>
	</div>
</div>
  

{%endblock%} <!-- Full block ends-->


