{% extends 'base.html' %}
{% block title%} Make Invoice {%endblock%}

{% block content%}

<div class = "wrap-all-modules">
    
    {%include "message_flashing.html" %}

    {% if "clientName" in session %}
      
          <div>
            {%include "widgets/find_products.html" %}
          </div>
          <!-- Add a new product Form -->
          <div >
            {%include "widgets/add_products.html" %}
          </div>
      
      <div class = "row">
        {%include "widgets/list_of_items.html" %}
      </div>
    {% endif %}



</div> 


{%endblock%} <!-- Full block ends-->