{% extends 'base.html' %}
{% block title%} Make Invoice {%endblock%}

{% block content%}
{%include "toolbar.html" %}
<div class = "wrap-all-modules">
    <div class = "row row_container_child">
      {%include "message_flashing.html" %}
    </div>
    
    
    {% if isClientSelected == False %}
      <div class = "row justify-content-center align-items-center"  >
        {%include "set_client.html" %}
      </div>
    {% endif %}

    {% if isClientSelected == True %}
      
          <div>
            {%include "find_products.html" %}
          </div>
          <!-- Add a new product Form -->
          <div >
            {%include "add_products.html" %}
          </div>
      
      <div class = "row">
        {%include "list_of_items.html" %}
      </div>
    {% endif %}



</div> 


{%endblock%} <!-- Full block ends-->